{% extends 'main/calc.html' %}
{% block title %}Инструкция{% endblock %}
{% block content %}
<br>
      <div class="jumbotron">
          <h1 class="display-4">Установите размеры матрицы</h1>
          <hr class="my-4">
          {% if mode == 'one' %}
          <form action="/input_data" method="get">
              A<input type="number" name="size_col_A" id="cols_A" min="1" max="25" placeholder="3" size=5 value="3">
              <input type="number" name="size_row_A" id="rows_A"  min="1" max="25" placeholder="3" size=5 value="3">
              <button type="submit" class="btn btn-primary btn-sm">Установить</button>
          </form>
          {% endif %}
          {% if mode == 'two' %}
          <form action="/input_data" method="get">
              A<input type="number" name="size_col_A" id="cols_A" min="1" max="25" placeholder="3" size=5>
              <input type="number" name="size_row_A" id="rows_A"  min="1" max="25" placeholder="3" size=5>
              B<input type="number" name="size_col_B" id="cols_B" min="1" max="25" placeholder="3" size=5>
              <input type="number" name="size_row_B" id="rows_B"  min="1" max="25" placeholder="3" size=5>
              <button type="submit" class="btn btn-primary btn-sm">Установить</button>
          </form>
          {% endif %}
      </div>
</div>
{% endblock %}